* {
  box-sizing: border-box;
}
body {
  margin: 0;
  text-align: center;
}
/*******TYPOGRAPHY**********/
.home-hero .title {
  font-size: 2.5rem;
  color: #eeeeee;
}
.home-hero .title .sub {
  font-weight: 300;
  display: block;
  font-size: .9em;
}

@media (min-width: 60rem) {
  .home-hero .title {
    font-size: 3.5rem;
  }
}

.name {
  color: #00adb5;
}

/*********button*********/

.button {
  display: inline-block;
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  border-width: 2px;
  border-style: solid;
  padding: .5em 1.5em;
}

.button-light {
  color: #eeeeee;
}

.button-light:hover,
.button-light:focus {
  background: #00adb5;
  color: #eeeeee;
}

.button-dark {
  color: #393e46;
}

.button-dark:hover,
.button-dark:focus {
  background: #222831;
  color: #eeeeee;
}

/*******Header**************/

header {
  position: absolute;
  left: 0;
  right: 0;
  margin: 1rem;
}
img {
  max-width: 100%;
  height: auto;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin: 1em;
}

.navlink {
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
  font-size: .8rem;
  padding: .5em;
  color: #00adb5;
}

nav a:hover, nav a:focus {
  color:#eeeeee;
}

@media (min-width: 60rem) {
  .logo {
    float: left;
  }
  nav {
    float: right;
  }
}


.logo {
  width: 4rem;
  height: 4rem;
  border-radius: 50px;
}

.home-hero {
  background: linear-gradient(
    rgba(25, 25, 25, 0.9),
    rgba(25, 25, 25, 0.9)),
    url(../images/desk.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 10em 0 16em 0;
}

.about-me {
  background-color: #eeeeee;
  padding-bottom: 100px;
  color: #1e2022;

}
.about-me .title {
  margin-top: 0;
  padding-top: 2.5rem;
  font-size: 2.5rem;
  text-transform: uppercase;
}
.about-me .container {
  width: 75%;
  margin: auto;
}

.about-me .container p {
  text-align: justify;
}

.portfolio {
  width: 80%;
  margin: auto;
  text-align: justify;
  height: 45rem;
}

.portfolio-title {
  text-align: center;
  font-size: 2.5rem;
  display: block;
  text-transform: uppercase;
  padding: 0;
  margin: 25px 0;
}

.current-project-img {
  max-width: 100%;
  margin-right: 3%;
  float: left;
  overflow: hidden;
}

.project-description {
  max-width: inherit;
  text-align: justify;
  display: block;
}

.project-text {
    max-width: inherit;
    display: inline;
}

.project-text ul {
  max-width: 75%;
  overflow: hidden;
}

.other-projects {
  background-color: #eeeeee;
  padding-bottom: 4rem;
}

.other-projects .sub-title {
  margin: 20px;
  padding: 3.3rem 0 1.5rem 0;
  clear: both;
  text-transform: uppercase;
  font-size: 2.5rem;
}

.other-projects ul {
  list-style: none;


}

.other-projects ul li {
  width: 17.5%;
  display: inline-block;
  text-align: center;
  margin: 0 2.5% 0 0;
}
.other-projects ul li:first-of-type {
  margin-left: 2.5%;
}

.card {
  background-color: #dfdfdf;
  color: #222831;
  display: inline-block;
  width: auto;
  text-transform: uppercase;
}

.card:hover {
  background-color: gray;
  color: #222831;
}

.contact-me .container{
  width: 50%;
  text-align: center;
  margin: auto;
  height: 28rem;
  text-transform: uppercase;
}

.contact-title {
  font-size: 2.5rem;
  margin: 8rem 0 2.5rem 0;
  border-top: solid;
  border-bottom: solid;
  color: #222831;
}
.contact-button {
  margin-top: 4rem;
}

.footer {
  margin-top: 4rem;
  background-color: #222831;
  height: auto;
}
.footer-buttons {
  padding-top: 2rem;
}

.footer-button {
  margin: 0 1rem 1rem 1rem;
  color: #eeeeee;
  border-radius: .5rem;
}

.copyright {
  margin: 0;
  padding: 2rem 0;
}
